In [1]:
# Import the dependencies.

# To read our CSV file and create the locations and measurements from the DataFrame.
import pandas as pd

# To create heatmaps and the locations map, the requests dependency to make a request to the Google Places JSON file. 
import gmaps
import requests

# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

# The data we use for any mapping must be either an integer or a floating-point decimal number.

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Balkanabat,TM,2021-12-27 23:38:26,39.5108,54.3671,42.30,44,17,2.62
1,1,Albany,US,2021-12-27 23:36:00,42.6001,-73.9662,32.09,78,100,4.38
2,2,Constitucion,CL,2021-12-27 23:38:27,-35.3333,-72.4167,60.08,85,89,3.09
3,3,Hermanus,ZA,2021-12-27 23:38:27,-34.4187,19.2345,63.90,82,41,11.54
4,4,Port Hardy,CA,2021-12-27 23:38:27,50.6996,-127.4199,24.76,86,75,13.80

In [2]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0)for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)


# Add heatmap layer.
fig.add_layer(heat_layer)

#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                 dissipating=False,
                                 max_intensity=300,
                                 point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
12,12,Katherine,AU,2021-12-27 23:38:31,-14.4667,132.2667,75.52,88,75,11.50
16,16,Cabo Rojo,PR,2021-12-27 23:38:33,18.0866,-67.1457,78.67,81,5,6.51
18,18,Bambous Virieux,MU,2021-12-27 23:38:34,-20.3428,57.7575,77.25,83,40,3.44
20,20,Carnarvon,AU,2021-12-27 23:38:35,-24.8667,113.6333,80.67,74,54,9.22
23,23,Butaritari,KI,2021-12-27 23:38:36,3.0707,172.7902,81.90,78,61,10.76
29,29,Rikitea,PF,2021-12-27 23:38:40,-23.1203,-134.9692,76.87,84,100,24.94
30,30,Avarua,CK,2021-12-27 23:38:41,-21.2078,-159.7750,80.65,57,20,4.61
34,34,Vaini,TO,2021-12-27 23:38:42,-21.2000,-175.2000,86.16,79,20,6.91
40,40,Grand-Lahou,CI,2021-12-27 23:38:45,5.1367,-5.0242,79.97,83,24,8.19
52,52,Faanui,PF,2021-12-27 23:39:50,-16.4833,-151.7500,80.38,65,6,3.40

In [37]:
preferred_cities_df.count()

City_ID       150
City          150
Country       150
Date          150
Lat           150
Lng           150
Max Temp      150
Humidity      150
Cloudiness    150
Wind Speed    150
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
12        Katherine      AU     75.52 -14.4667  132.2667
16        Cabo Rojo      PR     78.67  18.0866  -67.1457
18  Bambous Virieux      MU     77.25 -20.3428   57.7575
20        Carnarvon      AU     80.67 -24.8667  113.6333
23       Butaritari      KI     81.90   3.0707  172.7902
29          Rikitea      PF     76.87 -23.1203 -134.9692
30           Avarua      CK     80.65 -21.2078 -159.7750
34            Vaini      TO     86.16 -21.2000 -175.2000
40      Grand-Lahou      CI     79.97   5.1367   -5.0242
52           Faanui      PF     80.38 -16.4833 -151.7500

In [54]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lattitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and stire the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [55]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
12,Katherine,AU,75.52,-14.4667,132.2667,Pine Tree Motel
16,Cabo Rojo,PR,78.67,18.0866,-67.1457,Hotel Perichi's
18,Bambous Virieux,MU,77.25,-20.3428,57.7575,Casa Tia Villa
20,Carnarvon,AU,80.67,-24.8667,113.6333,Hospitality Carnarvon
23,Butaritari,KI,81.90,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...
557,Langsa,ID,76.62,4.4683,97.9683,OYO 2964 Hotel Ridho
572,Maceio,BR,78.24,-9.6658,-35.7353,Poutur Pousada
576,Ende,ID,84.04,-8.8432,121.6623,Dwi Putra Hotel - Ende
582,Rapu-Rapu,PH,79.30,13.1866,124.1256,Seaview Dormitel
587,Singkang,MY,75.09,2.1006,102.7994,Kampung Seri Makmor Pagoh

In [40]:
print(params["location"])

2.1006,102.7994

In [41]:
print(len(hotels))

3

In [42]:
print(hotels)

{'html_attributions': [], 'results': [{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 2.1223061, 'lng': 102.7664561}, 'viewport': {'northeast': {'lat': 2.123630180291502, 'lng': 102.7677840802915}, 'southwest': {'lat': 2.120932219708498, 'lng': 102.7650861197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'Kampung Seri Makmor Pagoh', 'photos': [{'height': 3840, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111832573284574389691">Hafiz transport</a>'], 'photo_reference': 'Aap_uEAgp5yd5KEc22PbJtWj6RcQsq7QeJczpWCYqGfv-7Bqn8iYmzXekAID3-DlQvlCKH0jqr4BT6tRPY1FbusQKmb7vQsCLx4UmQt_ddrGPVMdFKQ_WeRSAU5masPS1haydV8k9yFbBCg6iTzbJKtvPzsN7jOS24Tmoq0CsOVc8HP_O7aZ', 'width': 5120}], 'place_id': 'ChIJse8std_L0TERUVJTUUeZIg4', 'plus_code': {'compound_code': '4QC8+WH Pagoh, Johor, Malaysia', 'global_code': '6PJ44QC8+WH'}, 'rating': 4.3, 'reference': 'ChIJse8std_L0TERUVJTUUeZIg4', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 7, 'vicinity': 'Jalan Telaga Pam, Pagoh'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 2.1064523, 'lng': 102.7600434}, 'viewport': {'northeast': {'lat': 2.107836930291501, 'lng': 102.7613099302915}, 'southwest': {'lat': 2.105138969708498, 'lng': 102.7586119697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'ManCina', 'place_id': 'ChIJlYkHdH3L0TERRiaR7KcZGJE', 'plus_code': {'compound_code': '4Q46+H2 Pagoh, Johor, Malaysia', 'global_code': '6PJ44Q46+H2'}, 'rating': 5, 'reference': 'ChIJlYkHdH3L0TERRiaR7KcZGJE', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1, 'vicinity': 'Ty 2 Kampung Sri Meranti Pagoh, Muar'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 2.1064523, 'lng': 102.7600434}, 'viewport': {'northeast': {'lat': 2.107836930291501, 'lng': 102.7613099302915}, 'southwest': {'lat': 2.105138969708498, 'lng': 102.7586119697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'Man Cina House', 'place_id': 'ChIJ25LvNTzL0TEReh7jh09H3xc', 'plus_code': {'compound_code': '4Q46+H2 Pagoh, Johor, Malaysia', 'global_code': '6PJ44Q46+H2'}, 'reference': 'ChIJ25LvNTzL0TEReh7jh09H3xc', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'vicinity': 'Ty 2 Kampung Sri Meranti Pagoh, Muar'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 2.1184861, 'lng': 102.761465}, 'viewport': {'northeast': {'lat': 2.119668830291502, 'lng': 102.7628874302915}, 'southwest': {'lat': 2.116970869708498, 'lng': 102.7601894697085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'DARUS LEGACY', 'photos': [{'height': 1080, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100725820176114061936">Huawei Nova 3i</a>'], 'photo_reference': 'Aap_uEA3nOYB7wPxFx1WkLpUGHn094txMqI5cY9CdFiiFfifXAg-aEVPaZ4Cv1HdU28IY8_nv9ZXsFVL8LprQr4UhKd5Y2lFR_JKyuy1fvg2T-ZYjYDy5vUsuWVN0ivIUsq9A4-Wdo4irfinbidFHoecDyDobO7MdzL-ptbecB7SwqLjULVr', 'width': 1920}], 'place_id': 'ChIJnYDLo7bL0TERln9gvPn2vk8', 'plus_code': {'compound_code': '4Q96+9H Pagoh, Johor, Malaysia', 'global_code': '6PJ44Q96+9H'}, 'rating': 5, 'reference': 'ChIJnYDLo7bL0TERln9gvPn2vk8', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1, 'vicinity': 'Unnamed Road, Kampung Panjang Sari, Pagoh'}, {'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 2.1185162, 'lng': 102.7614141}, 'viewport': {'northeast': {'lat': 2.119676930291502, 'lng': 102.7628462802915}, 'southwest': {'lat': 2.116978969708498, 'lng': 102.7601483197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png', 'icon_background_color': '#909CE1', 'icon_mask_base_uri': 'https://maps.gstatic.com/mapfiles/place_api/icons/v2/hotel_pinlet', 'name': 'Darus Jamaliah Family', 'place_id': 'ChIJo9EyI4_L0TER73bgtq2uie4', 'plus_code': {'compound_code': '4Q96+CH Pagoh, Johor, Malaysia', 'global_code': '6PJ44Q96+CH'}, 'rating': 5, 'reference': 'ChIJo9EyI4_L0TER73bgtq2uie4', 'scope': 'GOOGLE', 'types': ['lodging', 'point_of_interest', 'establishment'], 'user_ratings_total': 1, 'vicinity': 'Unnamed Road, Kampung Panjang Sari, Pagoh'}], 'status': 'OK'}

In [53]:
hotels["results"][4]["name"]

'Darus Jamaliah Family'

In [ ]:
#6.5.4